.bg-pic {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

a {
    color: cornsilk;
}

.nk {
    width: 80%;
    height: 80%;
}

.title {
    /*color: #ba5caa;
    font-family: fantasy;
    font-size: 50px;*/
    text-align: center;
    position: relative;
    z-index: 2;
    background-image: -webkit-linear-gradient(315deg, #594f7b 0%, #d76ab8 29%, #e17fd6 67%, #ff00ea 100%);
    background-image: linear-gradient(-225deg, #c550d7 0%, #d367d3 29%, #ff1361 67%, #dc92d9 100%);
    animation: fadeIn 7s ease 0.1s 1 alternate;
}
h2 {
    padding: 1rem .5rem;
    color: blueviolet;
    font-family: serif;
    font-size: 50px;
    background-image: -webkit-linear-gradient(315deg, #594f7b 0%, #7c54a7 29%, #ff1361 67%, #fff800 100%);
    background-image: linear-gradient(-225deg, #06040b 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
}

@keyframes fadeIn {
    /*animetion-nameで設定した値を書く*/
    0% {
        opacity: 0
    }
    /*アニメーション開始時は不透明度0%*/
    100% {
        opacity: 1
    }
    /*アニメーション終了時は不透明度100%*/
}

p {
    padding: 1rem 2rem;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
    background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    position: relative;
    z-index: 2;
    font-size: x-large;
}

s1 {
    animation: fadeIn 20s ease 0.1s 1 normal;
}

s2 {
    animation: fadeIn 60s ease 0.1s 1 normal;
}

s3 {
    animation: fadeIn 90s ease 0.1s 1 normal;
}

s4 {
    animation: fadeIn 120s ease 0.1s 1 normal;
}

.prof1 {
    float: left;
    position: relative;
    z-index: 1;
    width: calc(100%/3);
    animation: fadeIn 10s ease 0.05s 1 normal;
}

.prof2 {
    float: left;
    position: relative;
    z-index: 1;
    width: calc(100%/3);
    animation: fadeIn 10s ease 0.05s 1 normal;
}

.prof3 {
    float: left;
    position: relative;
    z-index: 1;
    width: calc(100%/3);
    animation: fadeIn 10s ease 0.05s 1 normal;
}


/*画像の処理など*/

.sc {
    width: 70%;
    height: 70%;
    position: relative;
    z-index: 1;
    margin: 50px;
    padding-left:5px;
}

.tw {
    width: 70%;
    height: 70%;
    position: relative;
    z-index: 1;
    margin: 50px;
}

.nt {
    width: 54%;
    height: 54%;
    position: relative;
    z-index: 1;
    margin: 50px;
}

.kamin {
    width: 3%;
    height: 3%;
    text-align: center;
}


/*Gridデザインの指定*/

body {
    margin: 0;
    padding: 0;
    background-image: url("pic.jpg");
}

header,
footer,
main,
nav,
aside {
    box-sizing: border-box;
    padding: 10px;
}

body {
    min-height: 100vh;
    /* 高さの最小を画面いっぱいに設定 */
    margin: 0;
    /* ブラウザのデフォルトのスタイルを解除 */
}

header {
    flex-basis: 50px;
    /* flex-basis（初期値）を指定 */
}

footer {
    flex-basis: 100px;
    /* flex-basis（初期値）を指定 */
}


/*
main {}

nav {}

aside {}
*/


/* Flex Layout */

.flex {
    display: -ms-flexbox;
    /* IE */
    display: flex;
}

.flex-vertical {
    -ms-flex-direction: column;
    /* IE */
    flex-direction: column;
}

.flex-1 {
    -ms-flex: 1 1 0.000000001px;
    /* IE */
    flex: 1;
    flex-basis: 0.000000001px;
    /* IE */
}


/* アイテムの表示順序 */

.order-1 {
    -ms-flex-order: 1;
    order: 1;
}

ul {
    width: 1fr;
}

li {
    display: flex;
    padding: 10px;
    border-bottom: 2px solid rgb(131, 2, 138);
}

.day {
    font-size: large;
}

.label {
    background-color: rgb(233, 102, 172);
    border-radius: px;
    color: #fff;
    padding: 2px 5px;
    margin: 0 20px;
}

.textz {
    font-size: x-small;
}


/* 画面サイズの横幅が960px以上である場合 */

@media screen and (min-width: 960px) {
    .nk {
        width: 20%;
        height: 20%;
    }
    h2 {
        padding: 1rem .5rem;
        color: blueviolet;
        font-family: serif;
        font-size: 100px;
        background-image: -webkit-linear-gradient(315deg, #594f7b 0%, #7c54a7 29%, #ff1361 67%, #fff800 100%);
        background-image: linear-gradient(-225deg, #06040b 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    }
    .prof1 {
        float: left;
        text-align: center;
        position: relative;
        z-index: 1;
        width: calc(100%/3);
        animation: fadeIn 10s ease 0.05s 1 normal;
    }
    .prof2 {
        float: left;
        text-align: center;
        position: relative;
        z-index: 1;
        width: calc(100%/3);
        animation: fadeIn 10s ease 0.05s 1 normal;
    }
    .prof3 {
        float: left;
        text-align: center;
        position: relative;
        z-index: 1;
        width: calc(100%/3);
        animation: fadeIn 10s ease 0.05s 1 normal;
    }
    /*画像の処理など*/
    .sc {
        width: 35%;
        height: 35%;
        position: relative;
        z-index: 1;
        margin: 100px;
    }
    .tw {
        width: 35%;
        height: 35%;
        position: relative;
        z-index: 1;
        margin: 100px;
    }
    .nt {
        width: 27%;
        height: 27%;
        position: relative;
        z-index: 1;
        margin: 100px;
    }
    .textz {
        font-size: large;
    }
    .content-body {
        /* Flexで横並び */
        -ms-flex-direction: row;
        /* IE */
        flex-direction: row;
    }
    .content-body nav,
    .content-body aside {
        flex-basis: 200px;
        /* flex-basis（初期値）を指定 */
    }
    .content-body nav {
        /* アイテムの表示順序 */
        -ms-flex-order: -1;
        order: -1;
    }
}

x1 {
    position: relative;
    text-align: center;
    border: 3px solid #000;
}

x1:before,
x1:after {
    position: absolute;
    content: '';
}

x1:before {
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #f8f8f8;
}

x1 span {
    position: relative;
    display: block;
    padding: 2rem;
    letter-spacing: .05em;
    color: #fff;
    text-shadow: #000 2px 0, #000 -2px 0, #000 0 -2px, #000 0 2px, #000 2px 2px, #000 -2px 2px, #000 2px -2px, #000 -2px -2px, #000 1px 2px, #000 -1px 2px, #000 1px -2px, #000 -1px -2px, #000 2px 1px, #000 -2px 1px, #000 2px -1px, #000 -2px -1px, 4px 4px 0 #000, 0 4px 0 #000;
}

x1 span:before,
x1 span:after {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    height: 2px;
    content: '';
    background: #000;
}

x1 span:before {
    top: 15px;
}

x1 span:after {
    bottom: 15px;
}

g {
    color: black;
}

pink {
    color: rgb(106, 56, 155);
    text-decoration: rgb(227, 104, 238);
}


/* デバイス幅が600px以上の時 */

@media screen and (min-width: 600px) {
    .grid_container {
        grid-template-areas: 'header header header'/* 1行目 */
        'nav main aside'/* 2行目 */
        'footer footer footer';
        /* 3行目 */
        grid-template-rows: 60px 1fr 100px;
        /* 行の高さ */
        grid-template-columns: 20% 1fr 20%;
        /* 列の幅 */
        grid-row-gap: 10px;
        /* 行と行の間の余白 */
        grid-column-gap: 10px;
        /* 列と列の間の余白 */
        /* ショートハンドだと
        grid-gap: 10px 10px;
        */
        height: 100vh;
        /* フッタの位置を最下部に */
    }
}
